<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../head'); -%>

  <title><%= data.display_name %> BLM Protests 2020</title>
</head>

<body>

  <%- include('../../navigation'); -%>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center color-yellow" style="padding-top: 100px;font-size:50px;"><%= data.display_name %></h1>
        <p style="color: white; text-align: center;">Last Updated 6/4/20</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 25px;">
              <div class="card" style="width: inherit; background-color: transparent; height: inherit;">
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">State Wide
                    Donation
                    Links</h5>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://actionnetwork.org/fundraising/louisville-community-bail-fund-2">Louisville Community Bail Fund:</a> The Louisville Community Bail Fund exists
                    to not only bail out folks, but provide post-release support to get them from jail, fed, and to a situation of safety. LCBF also maintains a focus on preventative measures for those targeted by law enforcement and threatened with
                    incarceration. </p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href=" https://cpj.org/"> Commitee to Protect Journalists: </a> CPJ is investigating reports of attacks and arrests in recent days in Louisville, amongst
                    other major cities.</p>
                  <br>
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">National
                    Petitions</h5>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.change.org/p/mayor-jacob-frey-justice-for-george-floyd?utm_source=brand_us&utm_medium=media&use_react=false">Change.org:</a>
                    Justice for George Floyd</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://petitions.whitehouse.gov/petition/justice-george-floyd-0">White House Petition:</a> Official US Government Petition
                  </p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.justiceforbigfloyd.com/">Justice for Floyd:</a> Add your name
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 25px;">
              <div class="card" style="width: inherit; background-color: transparent;">
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">Protest
                    Locations</h5>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Louisville - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/WMFBXofTG5EbAWGC8">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Lexington - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/ga3dfAb37W3p24HS9">
                        Get Directions</a></span></p>
                </div>
                <br>
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">KY Social Medias
                  </h5>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/GovAndyBeshear?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Gov. Beshear</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/louisvillemayor">Mayor Fischer - Louisville</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/Frankfortpolice">Frankfort Police</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/NOPDNews">Louisville Police</a></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card" style="width: inherit; background-color: transparent; height: 500px;">
          <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
            <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">Quick Facts</h5>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">Curfews:</span></p>
              <p class="card-text">Louisville 9pm-6.30am CDT</p>
            </div>
            <br>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">National Guard Deployed:</span></p>
              <p class="card-text">Louisville</p>
            </div>
            <br>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">COVID-19 Stats for KY:</span></p>
              <p class="card-text">Cases: <span style="color: #64DD9B;">10,705</span></p>
              <p class="card-text">Deceased: <span style="color: #F65164;">458</span></p>
              <p class="card-text">Active: <span style="color: #FFC137;">6,972</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <%- include('../../footer'); -%>
</body>

</html>