<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../head'); -%>

  <title><%= data.display_name %> BLM Protests 2020</title>
</head>

<body>

  <%- include('../../navigation'); -%>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center color-yellow" style="padding-top: 100px;font-size:50px;"><%= data.display_name %></h1>
        <p style="color: white; text-align: center;">Last Updated 6/4/20 11:48 am PST</p>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 25px;">
              <div class="card" style="width: inherit; background-color: transparent; height: inherit;">
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">State Wide
                    Donation
                    Links</h5>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.payit2.com/fundraiser/98548"> Women for Plitical Change: </a>
                    Women for Political Change (WFPC) is a Minnesota-based non-profit that “holistically invests in the leadership and political power of young women and trans & non-binary individuals throughout Minnesota.” Right now, they are
                    “directly redistributing resources to folks on the frontlines, including food, medical supplies, and transportation.” </p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.blackvisionsmn.org"> Black Visions Collective: </a>
                    The Black Visions Collective Movement and Legal Fund, a Black, trans and queer-led organization, is helping lead the protests and advocating to defund the police in Minnesota. </p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://secure.everyaction.com/zae4prEeKESHBy0MKXTIcQ2">Reclaim the Block:</a>
                    Reclai the Block is a Minnesota based organisation that has been lobbying for defunding the police, and re-routing the funds to affordable housing, health, violence prevention, and civil right protections.</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.northstarhealthcollective.org/donate">
                      Northstar Health Collective: </a> Northstar Health Collective are a group of street medics who have been providing healthcare and other resources to protestors. They currently state that they have received more than enough
                    donations, but link alternate organizations on their website.
                  </p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://twincitiesrecoveryproject.org">
                      Twin Cities Recovery Project: </a> The Twin Cities Recovery Project is offering assistance and support to those suffering from substance use disorder in their transition toward lifestyles of health and productivity by offering a
                    drug free environment as well as resources to develop the whole person. This will enable them to build healthy and positive relationships and to become productive members of society.
                  </p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;"
                      href="https://www.google.com/url?q=https://www.google.com/url?q%3Dhttps://www.paypal.com/donate/?token%253DAVo5cob0MqlgAUp6np4rYIf89wNiCyOaHB4o-OaB7hlWEL4jnj71ja44fgRBiITgVBLIDW%2526country.x%253DUS%2526locale.x%253DUS%26amp;sa%3DD%26amp;ust%3D1591134294637000&sa=D&ust=1591134294719000&usg=AFQjCNEYj8GivHYPQwTSADd0X4ESPblrDQ">
                      Food Justice for Frontlines (Twin Cities DSA): </a> The Twin Cities chapter of the Democratic Socialists Association is currently raising funds to supply food and groceries to feed those on the front lines.
                  </p>

                  <br>
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 25px;">National
                    Petitions</h5>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.change.org/p/mayor-jacob-frey-justice-for-george-floyd?utm_source=brand_us&utm_medium=media&use_react=false">Change.org:</a>
                    Justice for George Floyd</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://petitions.whitehouse.gov/petition/justice-george-floyd-0">White House Petition:</a> Official US Government Petition
                  </p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.justiceforbigfloyd.com/">Justice for Floyd:</a> Add your name
                    <br>
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 25px;">How You Can Help</h5>
                  <p class="card-text"> Please contact County Attorney <a style="color: #ffcc00; text-decoration: underline;" href="tel:612-348-5550">Mike Freeman</a>,
                    <a style="color: #ffcc00; text-decoration: underline;" href="tel:612-673-3000">Mayor Frey</a>, and the
                    <a style="color: #ffcc00; text-decoration: underline;" href="tel:612673300"> City Attorney's Office</a>, and demand that they release people who have been detained on low-level charges and for protesting during a pandemic.</p>

                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 25px;">
              <div class="card" style="width: inherit; background-color: transparent;">
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 25px;">Protest
                    Locations</h5>
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1">Minneapolis <span><a href="https://goo.gl/maps/CztsTWF4hUWbaVm5A">-
                        Get Directions</a></span></p>
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1">St. Paul <span><a href="https://goo.gl/maps/FdE4KEf6kPDmeB1v6">-
                        Get Directions</a></span></p>
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1">Oakdale <span><a href="https://goo.gl/maps/YZ4UcKVsdcfyfMga7">-
                        Get Directions</a></span></p>
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1">Duluth <span><a href="https://goo.gl/maps/FSvFdnVDuoXgK31V6">-
                        Get Directions</a></span></p>
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1"> Rochester <span><a href="https://goo.gl/maps/iLgvsnYDTT6Qm9Lm7">-
                        Get Directions</a></span></p>
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1">Bemidji <span><a href="https://goo.gl/maps/UWk6guWN7QYTjgdw5">-
                        Get Directions</a></span></p>
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1">Grand Rapids <span><a href="https://goo.gl/maps/zqN6ecJfdaE5xdcS6">-
                        Get Directions</a></span></p>
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1"> Lake Elmo <span><a href="https://goo.gl/maps/ZjBiMLtCgyzwBzuc9">-
                        Get Directions</a></span></p>
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1">Owatonna <span><a href="https://goo.gl/maps/SLHFxjU6NWojrt958">-
                        Get Directions</a></span></p>
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1">Austin <span><a href="https://goo.gl/maps/XBnTEX8Rh7yReNfx5">-
                        Get Directions</a></span></p>
                </div>
                <br>
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">MN Social Medias
                  </h5>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/GovTimWalz?s=20">Gov. Tim Walz</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/MayorFrey">Mayor Frey - Minneapolis</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/melvincarter3?s=20">Mayor Carter- St. Paul</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/sppdmn">St. Paul Police</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/MinneapolisPD">Minnesota Police</a></p>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card" style="width: inherit; background-color: transparent; height: 630px;">
          <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
            <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">Quick Facts</h5>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">Curfews:</span></p>
              <p class="card-text">Detroit 8pm-4am</p>
              <p class="card-text">Kalamazoo 7pm-5am</p>

            </div>
            <br>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">National Guard Deployed:</span></p>
              <p class="card-text">Grand Rapids 8pm-4am</p>
            </div>
            <br>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">COVID-19 Stats for MN:</span></p>
              <p class="card-text">Cases: <span style="color: #64DD9B;">57,731</span></p>
              <p class="card-text">Deceased: <span style="color: #F65164;">5,553</span></p>
              <p class="card-text">Active: <span style="color: #FFC137;">14,079</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <%- include('../../footer'); -%>
</body>

</html>