<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../head'); -%>

  <title><%= data.display_name %> BLM Protests 2020</title>
</head>

<body>

  <%- include('../../navigation'); -%>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center color-yellow" style="padding-top: 100px;font-size:50px;"><%= data.display_name %></h1>
        <p style="color: white; text-align: center;">Last Updated 6/4/20 11:58 am PST</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 25px;">
              <div class="card" style="width: inherit; background-color: transparent; height: inherit;">
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">State Wide
                    Donation
                    Links</h5>

                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.aclu-ms.org/en/donate">Mississippi ACLU:</a>
                    ACLU of Mississippi is working tirelessly to defend the individual rights and liberties guaranteed to all people by the US and Mississippi Constitutions.</p>

                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.gofundme.com/f/helptriothrive">Help Trio Thrive:</a> This gofundme page is geared towards funding bails and support, and is a critical
                    tool to prevent
                    incarceration and combat racial and economic disparities in the bail system; this aims to help Louis Hunter, an activist that was sentenced to 20 years in prison for #BLM. </p>


                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.gofundme.com/f/somali-owned-businesses-affected-by-rioters">Black Owned Businesses:</a>
                    Support Somali business owners in Mississippi</p>

                  <br>
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 25px;">National
                    Petitions</h5>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.change.org/p/mayor-jacob-frey-justice-for-george-floyd?utm_source=brand_us&utm_medium=media&use_react=false">Change.org:</a>
                    Justice for George Floyd</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://petitions.whitehouse.gov/petition/justice-george-floyd-0">White House Petition:</a> Official US Government Petition
                  </p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.justiceforbigfloyd.com/">Justice for Floyd:</a> Add your name</p>

                  <br>


                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 25px;">
              <div class="card" style="width: inherit; background-color: transparent;">
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 25px;">Protest
                    Locations</h5>
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1"> Jackson <span><a href="https://goo.gl/maps/CJdBt8HPZ48w5wTY6">-
                        Get Directions</a></span></p>


                </div>
                <br>
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 25px;">MS Social Medias
                  </h5>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/tatereeves">Gov. Tate Reeves</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/ChokweALumumba"> Chokwe Antar Lumumba</a></p>

                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/JacksonMSPolice"> Mississippi Police</a></p>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card" style="width: inherit; background-color: transparent; height: 500px;">
          <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
            <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">Quick Facts</h5>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">Curfews:</span></p>
              <p class="card-text">Jackson 8am-8am </p>
            </div>
            <br>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">National Guard Deployed:</span></p>

              <p class="card-text">No</p>

            </div>
            <br>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">COVID-19 Stats for MS:</span></p>
              <p class="card-text">Cases: <span style="color: #64DD9B;">16,322</span></p>
              <p class="card-text">Deceased: <span style="color: #F65164;">782</span></p>
              <p class="card-text">Active: <span style="color: #FFC137;">Unknown</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <%- include('../../footer'); -%>
</body>

</html>