<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../head'); -%>

  <title><%= data.display_name %> BLM Protests 2020</title>
</head>

<body>

  <%- include('../../navigation'); -%>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center color-yellow" style="padding-top: 100px;font-size:50px;"><%= data.display_name %></h1>
        <p style="color: white; text-align: center;">Last Updated 6/4/20</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 25px;">
              <div class="card" style="width: inherit; background-color: transparent; height: inherit;">
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">State Wide
                    Donation
                    Links</h5>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.nccbailfund.org">North Carolina Community Bail Fund:</a>
                    The North Carolina Community bail fund of Durham fights to end cash bail and provides assistance to those who cannot afford it.</p>


                  <br>
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">
                    Petitions</h5>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.change.org/p/mayor-jacob-frey-justice-for-george-floyd?utm_source=brand_us&amp;utm_medium=media&amp;use_react=false">Change.org:</a>
                    Justice for George Floyd</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://petitions.whitehouse.gov/petition/justice-george-floyd-0">White House Petition:</a> Official US Government Petition
                  </p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.justiceforbigfloyd.com/">Justice for Floyd:</a> Add your name
                  </p>
                  <br>
          


                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 25px;">
              <div class="card" style="width: inherit; background-color: transparent;">
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 25px;">Protest
                    Locations</h5>
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1"> Greenboro <a href="https://goo.gl/maps/Z7VthUUrZkD9n1rx9">-
                        Get Directions</a></span></p>
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1">Raleigh <a href="https://goo.gl/maps/K7shJgDnDZ64ZEhLA">-
                        Get Directions</a></span></p>
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1"> Durham <a href="https://goo.gl/maps/YwbVMp2VHxPnCFBw9">-
                        Get Directions</a></span></p>
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1">Fayetteville <a href="https://goo.gl/maps/PyrSSCr8AB1eeoCHA">-
                        Get Directions</a></span></p>
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1"> Charlotte <a href="https://goo.gl/maps/bYuqkuFMp99WS5hGA">-
                        Get Directions</a></span></p>
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1"> Salisbury <a href="https://goo.gl/maps/UfUHAZLNLKYt9v5N9">-
                        Get Directions</a></span></p>
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1"> Statesville <a href="https://goo.gl/maps/d8Sf6o4VNc83d6Fv6">-
                        Get Directions</a></span></p> 
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1"> Burlington <a href="https://goo.gl/maps/gUAeUWCQZnxyPzPX7">-
                        Get Directions</a></span></p> 
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1"> Boone <a href="https://goo.gl/maps/SDJ7qNZTio2rh2QQ7">-
                        Get Directions</a></span></p>     
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1"> Asheville <a href="https://goo.gl/maps/wUpkDfSbeQFaU688A">-
                        Get Directions</a></span></p>  
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1"> Greenville <a href="https://goo.gl/maps/SFsGyeM1gi8H5qdV7">-
                        Get Directions</a></span></p>  
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1"> Goldsboro <a href="https://goo.gl/maps/rCWqzzhfUCe5E3At6">-
                        Get Directions</a></span></p>        
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1"> Wilson <a href="https://goo.gl/maps/1wQnLDHy6oMmYWai6">-
                        Get Directions</a></span></p> 
                  <p style="color: #ffcc00; background-color: #212529; border-radius: 15px;" class="card-text text-center p-1"> Rocky Mount <a href="https://goo.gl/maps/qNdBVqepf9bzRn7L9">-
                        Get Directions</a></span></p>   

                </div>
                <br>
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 25px;">North Carolina Social Medias
                  </h5>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/NCPublicSafety">North Carolina PD</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/NC_Governor"> Governer Cooper</a><a href="https://goo.gl/maps/1kRc8h6obT5DmoG86">-
                        Get Directions</a></span></p>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card" style="width: inherit; background-color: transparent; height: 620px;">
          <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
            <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">Quick Facts</h5>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">Curfews:</span></p>
              <p class="card-text">Raleigh 8pm-5am</p>
              <p class="card-text">Wilmington 9pm-5am</p>
            </div>
            <br>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">National Guard Deployed:</span></p>
              <p class="card-text">Raleigh</p>
              <p class="card-text">Charlotte</p>
            </div>
            <br>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">COVID-19 Stats for NC:</span></p>
              <p class="card-text">Cases: <span style="color: #64DD9B;">32,074</span></p>
              <p class="card-text">Deceased: <span style="color: #F65164;">1,006</span></p>
              <p class="card-text">Active: <span style="color: #FFC137;">12,208</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <%- include('../../footer'); -%>


  </div>
</body>

</html>