<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../head'); -%>

  <title><%= data.display_name %> BLM Protests 2020</title>
</head>

<body>

  <%- include('../../navigation'); -%>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center color-yellow" style="padding-top: 100px;font-size:50px;"><%= data.display_name %></h1>
        <p style="color: white; text-align: center;">Last updated 6/8/20</p>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 25px;">
              <div class="card" style="width: inherit; background-color: transparent; height: inherit;">
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">State Wide
                    Donation
                    Links</h5>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://fundrazr.com/mkefreedomfund">Milwaukee Freedom Fund:</a> The Milwaukee Freedom Fund recognizes that support for protesters requires more than
                    bail.</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://twitter.com/FreeThe350/status/1251533973844525056">Free The 350 Bail Fund:</a>
                    Helping to bail out protesters.</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://secure.actblue.com/donate/blocbybloc?fbclid=IwAR0mt_eWaeFsIHOQ5Wit0GdDcoyrtPMpI5dQcBxvcVH8A4jc_6RsruSTz1k">Black Leaders Organizing for
                      Communities:</a>
                    We are uniters, working to lift up the Black citizens, leaders, and businesses of our community. We are transparent in our work to ensure the community we advocate for can hold us accountable.</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://docs.google.com/forms/d/18NWh3KPxGiIZXBw_7gkO_Xahc3Ui6MTws-AlSXf2vGY/viewform?edit_requested=true">
                      Milwaukee Freedom Resources: </a>The Milwaukee Freedom Fund was started by Black and Brown Milwaukee area organizers who want to see residents supported as they assert their right to protest for justice.
                    We are raising money and gathering resources for bail, court-related costs, rides, food, water, and other needs, as the community struggles for liberation.</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.gofundme.com/f/downtown-emergency-relief-fund">
                      Downtown Emergency Relief Fund: </a>We believe that outside agitators came to our city to cause physical destruction to some of our downtown businesses. Therefore, we are launching a gofundme to support
                    their relief effort.</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;"
                      href="https://www.gofundme.com/f/madison-uprising-justiceforgeorgefloyd?utm_source=customer&utm_medium=copy_link&utm_campaign=m_pd%20share-sheet&fbclid=IwAR3SkLt8uP2rEwJ7CSwfvw1Mo47Mjirh8NrymEUb0nqAZqKsSemK0HKp2SE">
                      Madison Uprising #JusticeForGeorgeFloyd</a>This past week cities across the nation have united with protests in Minneapolis for #JusticeForGeorgeFloyd. Today as Madison joins in solidarity with people fighting for Black lives
                    across the nation, the police have begun making a series of arrests.
                    their relief effort.</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.gofundme.com/f/georgefloyd">
                      Official George Floyd Memorial Fund</a></p>
                  <br>
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">National
                    Petitions</h5>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.change.org/p/mayor-jacob-frey-justice-for-george-floyd?utm_source=brand_us&utm_medium=media&use_react=false">Change.org:</a>
                    Justice for George Floyd</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://petitions.whitehouse.gov/petition/justice-george-floyd-0">White House Petition:</a> Official US Government Petition
                  </p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.justiceforbigfloyd.com/">Justice for Floyd:</a> Add your name
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 25px;">
              <div class="card" style="width: inherit; background-color: transparent;">
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">Protest
                    Locations</h5>
                  <p style="color: #FFFFFF; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text">Eau Claire - <span><a style="color: #ffcc00; text-decoration: underline;" href="mailto:blmprotestwebsite@gmail.com">
                        Send Location</a></span></p>
                  <p style="color: #FFFFFF; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text">Fond du Lac - <span><a style="color: #ffcc00; text-decoration: underline;" href="mailto:blmprotestwebsite@gmail.com">
                        Send Location</a></span></p>
                  <p style="color: #FFFFFF; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text">Oshkosh - <span><a style="color: #ffcc00; text-decoration: underline;" href="mailto:blmprotestwebsite@gmail.com">
                        Send Location</a></span></p>
                  <p style="color: #FFFFFF; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text">Appleton - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/hg4aHcq3xJdgMydy5">
                        Get Directions</a></span></p>
                  <p style="color: #FFFFFF; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text">Green Bay - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/EUnstuE3USmCYcnU8">
                        Get Directions</a></span></p>
                  <p style="color: #FFFFFF; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text">Stevens Point - <span><a style="color: #ffcc00; text-decoration: underline;" href="mailto:blmprotestwebsite@gmail.com">
                        Send Location</a></span></p>
                  <p style="color: #FFFFFF; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text">Wausau - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/DFkLHXUBMYEiyXYM7">
                        Get Directions</a></span></p>
                  <p style="color: #FFFFFF; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text">Madison - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/VzpA2sKZijV2nFiy9">
                        Get Directions</a></span></p>
                  <p style="color: #FFFFFF; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text">Milwaukee - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/Rn7F9ZzKk3rEGdvG8">
                        Get Directions</a></span></p>
                  <p style="color: #FFFFFF; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text">Racine - <span><a style="color: #ffcc00; text-decoration: underline;" href="mailto:blmprotestwebsite@gmail.com">
                        Send Location</a></span></p>
                  <p style="color: #FFFFFF; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text">Kenosha - <span><a style="color: #ffcc00; text-decoration: underline;" href="mailto:blmprotestwebsite@gmail.com">
                        Send Location</a></span></p>

                </div>
                <br>
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">WI Social Medias
                  </h5>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/GovEvers">Gov. Evers</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/MayorOfMadison">Mayor Satya Rhodes-Conway - Madison</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/MayorOfMKE">Mayor Tom Barrett - Milwaukee</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/madisonpolice">Madison Police</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/MilwaukeePolice">Milwaukee Police</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/wistatepatrol">Wisconsin Police</a></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card" style="width: inherit; background-color: transparent; height: 610px;">
          <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
            <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">Quick Facts</h5>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">Curfews:</span></p>
              <p class="card-text">Racine  10pm-5am CST</p>
              <p class="card-text">Kenosha County 8pm-7am CST</p>
              <p class="card-text">Howard 9pm-6am CST</p>
              <p class="card-text">Suamico 9pm-6am CST</p>
              <p class="card-text">Green Bay 9pm-6am CST</p>
              <p class="card-text">Ashwaubenon 9pm-6am CST</p>
              <p class="card-text">De Pere 9pm-6am CST</p>
              <p class="card-text">Allouez 9pm-6am CST</p>
              <p class="card-text">Bellevue 9pm-6am CST</p>
            </div>
            <br>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">National Guard Deployed:</span></p>
              <p class="card-text">Madison</p>
              <p class="card-text">Milwaukee</p>
            </div>
            <br>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">COVID-19 Stats for WI:</span></p>
              <p class="card-text">Cases: <span style="color: #64DD9B;">21,038</span></p>
              <p class="card-text">Deceased: <span style="color: #F65164;">646</span></p>
              <p class="card-text">Active: <span style="color: #FFC137;">6,150</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <%- include('../../footer'); -%>
</body>

</html>
